<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="CSS-4.1" sequenceNumber="31">
<locations>
<location path="/dls_sw/work/common/CSS/CSS_4.0.x_nightly" type="Profile"/>
</locations>
</target>
