<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.csstudio.dls.product.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.utility.product.StartupParameters">
      </startupParameters>
      <workspace
            class="org.csstudio.utility.product.WorkspacePrompt">
      </workspace>
      <workbench
            class="org.csstudio.trayicon.TrayWorkbench">
      </workbench>
      <project
            class="org.csstudio.startup.module.defaults.DefaultProject">
      </project>
   </extension>

   <!-- Remove contributed views and perspectives by hiding them with this 'hack' -->
   <extension
         point="org.eclipse.ui.activities">
      <activity id="org.csstudio.common.activity.disable" name="disable">
      </activity>
      <activityPatternBinding
         activityId="org.csstudio.common.activity.disable"
         pattern=".*/org.eclipse.team.ui.TeamSynchronizingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
         activityId="org.csstudio.common.activity.disable"
         pattern=".*/org.eclipse.team.sync.views.SynchronizeView">
      </activityPatternBinding>
      <activityPatternBinding
         activityId="org.csstudio.common.activity.disable"
         pattern=".*/org.eclipse.team.ui.GenericHistoryView">
      </activityPatternBinding>
   </extension>
   <!-- Add a common set of views and perspectives in the 'Window' menu -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
         targetID="org.csstudio.utility.product.CSStudioPerspective">
         <perspectiveShortcut id="org.csstudio.utility.product.CSStudioPerspective"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.opieditor"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.OPIRuntime.perspective"/>
         <perspectiveShortcut id="org.csstudio.trends.databrowser.Perspective"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <view
            id = "org.csstudio.opibuilder.opiShellSummary"
            relative="org.eclipse.ui.views.ResourceNavigator"
            relationship="stack"
            closeable="false"
            minimized="true"/>
      </perspectiveExtension>
      <perspectiveExtension
         targetID="org.csstudio.opibuilder.opieditor">
         <perspectiveShortcut id="org.csstudio.utility.product.CSStudioPerspective"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.opieditor"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.OPIRuntime.perspective"/>
         <perspectiveShortcut id="org.csstudio.trends.databrowser.Perspective"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <view
            id = "org.csstudio.opibuilder.opiShellSummary"
            relative="org.eclipse.ui.views.ResourceNavigator"
            relationship="stack"
            closeable="false"
            minimized="true"/>
      </perspectiveExtension>
      <perspectiveExtension
         targetID="org.csstudio.opibuilder.OPIRuntime.perspective">
         <perspectiveShortcut id="org.csstudio.utility.product.CSStudioPerspective"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.opieditor"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.OPIRuntime.perspective"/>
         <perspectiveShortcut id="org.csstudio.trends.databrowser.Perspective"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <!-- When opening OPIRuntime perspective we don't want unnecessary
              clutter, so this view is not set as visible. -->
         <view
            id = "org.csstudio.opibuilder.opiShellSummary"
            relative="org.eclipse.ui.views.ResourceNavigator"
            relationship="stack"
            closeable="false"
            visible="false"
            minimized="true"/>
      </perspectiveExtension>
      <perspectiveExtension
         targetID="org.csstudio.trends.databrowser.Perspective">
         <perspectiveShortcut id="org.csstudio.utility.product.CSStudioPerspective"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.opieditor"/>
         <perspectiveShortcut id="org.csstudio.opibuilder.OPIRuntime.perspective"/>
         <perspectiveShortcut id="org.csstudio.trends.databrowser.Perspective"/>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <view
            id = "org.csstudio.opibuilder.opiShellSummary"
            relative="org.eclipse.ui.views.ResourceNavigator"
            relationship="stack"
            closeable="false"
            minimized="true"/>
      </perspectiveExtension>
   </extension>

</plugin>
