<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.openfile.openDisplay">
      <openDisplay
            class="org.csstudio.openfile.newwindow.OpenNewWindow"
            file_extension="nws">
      </openDisplay>
   </extension>

</plugin>
