<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.csstudio.trayicon.TrayIconPreferencePage"
            id="org.csstudio.trayicon.preferences"
            name="Minimize to Tray">
      </page>
   </extension>
</plugin>
