<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.csstudio.dls.product.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.dls.product.application"
            name="cs-studio">
         <property
               name="appName"
               value="cs-studio">
         </property>
         <property
               name="introBrandingImage"
               value="platform:/plugin/org.csstudio.dls.product.common/icons/welcome.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.csstudio.dls.product.common/icons/css16.png,platform:/plugin/org.csstudio.dls.product.common/icons/css32.png,platform:/plugin/org.csstudio.dls.product.common/icons/css48.png,platform:/plugin/org.csstudio.dls.product.common/icons/css64.png,icons/css128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,200,466,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,222,470,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.csstudio.dls.product.common/icons/cs-studio-about.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.csstudio.dls.product.5064/5064.css">
         </property>
      </product>
   </extension>
</plugin>
